<div class="container">
  <% @photos.each do |photo| %>
    <div class="photo-box">
      <div class="price">
        $<%= rand(250..2500) %>.00
      </div>
      <div class="photo">
        <%= link_to photo_path(:id => photo.provider_id) do %>
          <%= image_tag( photo.image_url, alt: photo.name ) %>
        <% end %>
      </div>
      <div class="photo-info">
        <div class="photo-name">
          <%= photo.name %>
        </div>

        <div class="artist-name">
          by <%= photo.author_full_name %>
        </div>

        <div class="divider"></div>

        <div class="favorite-button">
          <!-- create a favorite -->
          <% if current_user && !photo.favorited %>
            <%= link_to create_favorite_path(:photo_id => photo.provider_id), method: :post do %>
              <span><i class="fa fa-star-o fa-lg"></i> Favorite</span>
            <% end %>
          <!-- remove a favorite -->
          <% elsif current_user && photo.favorited %>
              <%= link_to delete_favorite_path(:photo_id => photo.provider_id), method: :delete do %>
                <span><i class="fa fa-star fa-lg"></i> Remove Favorite</span>
              <% end %>
          <!-- if not authed, auth -->
          <% else %>
            <%= link_to "/auth/500px", method: :get do %>
              <span><i class="fa fa-star fa-lg"></i> Favorite</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>