<div class="container">
  <h1>All Photos</h1>
  <% @photos.each do |photo| %>
    <div class="photo">
      <img src="<%= photo.image_url %>" alt="<%= photo.name %>">

      <div class="photo-name">
        <%= photo.name %>
      </div>

      <div class="artist-name">
        <%= photo.author_full_name %>
      </div>

      <div class="like_button">
        <%= link_to "Like", create_like_path(photo.id), method: :post %>
      </div>
    </div>
  <% end %>
</div>