<div class="display-container">
  <div id="large-photo-display">
    <%= image_tag( @photo.image_url, alt: @photo.name ) %>
    <div id="photo-info">
      <div id="photo-display-name"><%= @photo.name %></div>
      <div id="author-info">
        <%= image_tag( @photo.author_image, alt: @photo.author_full_name ) %><div id="author-name"><%= @photo.author_full_name %></div>
      </div>
      <div class="purchase-options-button">
        <%= button_to "See Purchase Options", buy_photo_path(photo_id: @photo.provider_id), method: :get %>
      </div>
      <!-- <div id="info-divider"></div> -->
      <div id="photo-description"><%= @photo.description %></div>
    </div>
  </div>
</div>